{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Django Girls blog</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <link
      href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <header class="page-header">
      <div class="container">
        <a href="{% url 'new-form' %}" class="top-menu">
          {% include './icons/file-earmark-plus.svg' %}
        </a>
        <a href="{% url 'feedback' %}" class='top-menu'>
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAABDElEQVQ4je3PMUoDQRjF8ffNZkGzs8tYqbWQvYA3sPUSCjmDnYV4g2Btby0ELI3X0MJOVDLsvI3FwHw2CWojupsy/26+4scbYM0JAKjqkOQxANfR8dbaWxFZGFXNSE4BjHoMq0lOVTUbkKxV9bmqqsseIEIINcmRMcZsi8iiD7asNcYMzRqgH23ADdgFjDF6ALt9IRHZjzHOBQBIXqvqDoAXAAnAeVmWr23bHqaUxn/w9kTk3Vp7KquL9/4gz3OXUjoDcGWtnZG8A3BhjGl/02KMc+fcEwAMVkfn3ONy7ZaqvpGcALgpy/L+n7//qmmacQjBhxAemqY56WLI9wfJIwBZURQzEfnovGydfQLe8XHdJBet3wAAAABJRU5ErkJggg==">
        </a>
        <h1><a href="/">Django Girls Blog</a></h1>
      </div>
    </header>
    <main class="container">
      <div class="row">
        <div class="col">{% block content %} {% endblock content %}</div>
      </div>
    </main>
  </body>
</html>
