{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Django Girls blog</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <link
      href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <header class="page-header">
      <div class="container">
        <a href="{% url 'new-form' %}" class="top-menu">
          {% include './icons/file-earmark-plus.svg' %}
        </a>
        <a href="{% url 'feedback' %}" class='top-menu'>
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAAxElEQVQ4je3UMWoCURCH8d+uFmqVLloLEa29gW0uYeEZ0ll4heAJkipVCkGwVK+hfYiw28R0YrEbUMEgu6/0a4Y3xff+DMwQmCivDTzjoaAnxQz7GBXM8VQiWCd3VKCHtxKyP97RjVHHPoDwB404gOiMu/AuLChM8RjA1UJSxQYJPvGFA8b4Rh+jG2RN7LCNTppt2bV5wRQrLDCRrdV/JNhC9aS5yWst/+0VH1jekPAqI9lM1xgWEUQX74Hspq3wWyZZMI6Q7SEbdUG5+wAAAABJRU5ErkJggg==">
        </a>
        <h1><a href="/">Django Girls Blog</a></h1>
      </div>
    </header>
    <main class="container">
      <div class="row">
        <div class="col">{% block content %} {% endblock content %}</div>
      </div>
    </main>
  </body>
</html>
